* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 55%;
  margin: 0 auto;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #A66ADD;
  --dark-purple: #A547F1;
  --light-purple: #E9D0FA;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}


body {
  margin: 0;
  min-width: 303px;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color)
}

@media(max-width: 767px) {
  #root {
    width: 80%;
  }
}
@media(max-width: 576px) {
  #root {
    width: 95%;
  }
}

